body {
  font-family: 'Roboto Condensed', 'sans-sarif';
}

html, body, #entry {
  height: 100%;
  width: 100%;
}

.content {
  box-sizing: border-box;
  float: right;
  height: 100%;
  width: 100%;
  transition: padding 500ms ease;

  .nav.open + & {
    padding-left: $sz-nav;
  }
}