body {
  font-family: 'Roboto Condensed', 'sans-sarif';

  @media (prefers-color-scheme: dark) {
    background: #000;
  }
}

html, body, #entry {
  height: 100%;
  width: 100%;
}

.safe-area {
  width: 100%;
  margin: auto;
  transition: width 500ms ease;
}

.content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: padding 500ms ease;
  position: absolute;
  top: 0;
  z-index: 1;

  .nav:not(.open) + & .safe-area {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    @include media-sm {
      width: calc(100% - #{$sz-nav});
    }
  }

  &-bottom {
    height: 60px;
  }

  @include media-sm {
    .nav.open + & {
      padding-left: $sz-nav;
    }
  }
}