.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

a[href] {
  color: $cl-secondary;
  transition: color 500ms;

  @media (prefers-color-scheme: dark) {
    color: $cl-tertiary;
  }

  &:hover {
    color: $cl-primary;
  }
}