.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-red {
    color: $cl-tertiary;
  }
}

.link,
a[href]  {
  color: $cl-secondary;
  transition: color 500ms;

  @include dark-mode {
    color: $cl-tertiary;
  }

  &:hover {
    color: $cl-primary;
    cursor: pointer;
  }
}