/* Main color scheme */
$cl-primary: #FF8859;
$cl-secondary: #262F7F;
$cl-tertiary: #E80C7A;
$cl-quaternary: #00B270;
$cl-grey: #C0C0C0;

/* Shades */
$cl-shade-1: 10%;
$cl-shade-2: 15%;
$cl-shade-3: 20%;
$cl-shade-4: 25%;

/* Text */
$cl-text: #333;
$cl-link: $cl-secondary;