/* Grids */

$sz-xs: 500px;
$sz-sm: 780px;
$sz-md: 1100px;
$sz-lg: 1430px;
$sz-xl: 1600px;

/* Fonts */

$fz-primary: 16px;
$fz-secondary: 14px;
$fz-h1: 34px;
$fz-h2: 28px;
$fz-h3: 22px;
$fz-h4: 18px;
$fz-icon: 24px;

/* Others */

$sz-nav: 300px;

/* z-indices */

$z-nav: 2;
$z-banner: 1;