<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, viewport-fit=cover">
  \{{{helmet.title}}}
  {{#each htmlWebpackPlugin.files.css}}
  <link rel="stylesheet" type="text/css" href="{{trim this 4}}" />
  {{/each}}
</head>

<body>
  <div id="entry" class="group">\{{{reactDom}}}</div>

  {{#each htmlWebpackPlugin.files.js}}
  <script async="async" defer="defer" src="{{trim this 4}}"></script>
  {{/each}}
</body>

</html>